@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: rgb(242, 242, 242);

  margin: 0;
  font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
p {
  color: #4f4f4f;
}
